.acordeon {
    margin-bottom: $margin-big-section-desktop;

    &__inner {
        width: max-content;
        background-image: url('../img/acordeon-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        margin: 0 auto;
    }

    &__item {
        width: 176px;
        min-height: 620px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: inset 0 0 0 10px #1a1a1a;

        &-active {
            width: 610px;
        }


        &-title {
            text-align: center;
            writing-mode: vertical-lr;
            color: #000;
            font-weight: 600;
            text-transform: uppercase;
            max-height: 610px;

            &-active {
                padding-top: 20px;
                writing-mode: horizontal-tb;
            }

            &>img {
                display: none;
            }
        }

        &-text {
            color: #000;
            font-size: 24px;
            line-height: 38px;
            display: none;
            padding: 30px;

            &-active {
                display: flex;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit; 
            border-radius: 20px; 
            padding: 10px; 
            background-clip: content-box; 
            box-shadow: inset 0 0 0 10px $color-bg; 
            z-index: 2;
            pointer-events: none;
        }
        
    }
}


@media screen and (max-width: 1514px) {
    .acordeon {

        &__inner {
            flex-direction: column;
            align-items: center;
            width: auto;
        }

        &__item {
            cursor: pointer;
            width: 100%;
            min-height: auto;
    
            &-active {
            }
    
    
            &-title {
                text-align: start;
                display: flex;
                justify-content: space-between;
                width: 100%;
                writing-mode: horizontal-tb;
                padding: 30px 40px;
    
                &-active {
                    writing-mode: horizontal-tb;
                }

                &>img{
                    max-width: 36px;
                    max-height: 19px;
                    display: flex;
                }
            }
    
            &-text {
                word-wrap: break-word;
                white-space: normal;
                max-width: auto;
                color: #000;
                font-size: 24px;
                line-height: 38px;
                display: none;
                padding: 30px;
    
                &-active {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
    
            
        }
    }
}

@media screen and (max-width: 1024px) {
    .acordeon {
        margin-bottom: $margin-big-section-mobile;

        &__item {
    
    
            &-title {
                font-size: 27px;
            }
    
            &-text {
                font-size: 20px;
            }      
        }
    }

}

@media screen and (max-width: 500px) {
    .acordeon {

        &__item {
    
    
            &-title {
                padding: 30px;
                font-size: 16px;
            }
    
            &-text {
                padding-top: 0;
                font-size: 14px;
                line-height: 24px
            }      
        }
    }
}