.first-screen-bg {
    width: 100%;
    height: calc(100vh - $height-header + 700px);
    overflow: hidden;
    position: absolute;
    top: $height-header;
    left: 0;
    z-index: 1;
}

.svg {
    height: 100%;
}


.ufo {
    offset-path: path("M1653 785C1653 1141.68 1332.31 1431 936.5 1431C540.688 1431 220 1141.68 220 785C220 428.319 540.688 139 936.5 139C1332.31 139 1653 428.319 1653 785Z");
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 133px;
    height: 74px;
}


.ufo1 {
    offset-distance: 12.5%;
    transform: translate(0%, 0%) rotate(31deg);
    animation-name: ufo1;
}
.ufo2 {
    offset-distance: 25%;
    transform: translate(-40%, -18%) rotate(-33deg);
    animation-name: ufo2;
}
.ufo3 {
    offset-distance: 37.5%;
    transform: translate(-19%, 0%) rotate(-40deg);
    animation-name: ufo3;
}
.ufo4 {
    offset-distance: 50%;
    transform: translate(-45%, -9%) rotate(-12deg);
    animation-name: ufo4;
}

.ufo5 {
    offset-distance: 62.5%;
    transform: translate(-45%, -9%) rotate(-12deg);
    animation-name: ufo5;
}
.ufo6 {
    offset-distance: 75%;
    transform: translate(-8%, 6%) rotate(33deg);
    animation-name: ufo6;
}

@keyframes ufo1 {
    0% { offset-distance: 12.5%;}
    100% { offset-distance: 112.5%;}
}

@keyframes ufo2 {
    0% { offset-distance: 25%;}
    100% { offset-distance: 125%;}
}

@keyframes ufo3 {
    0% { offset-distance: 37.5%;}
    100% { offset-distance: 137.5%;}
}


@keyframes ufo4 {
    0% { offset-distance: 50%;}
    100% { offset-distance: 150%;}
}

@keyframes ufo5 {
    0% { offset-distance: 62.5%;}
    100% { offset-distance: 162.5%;}
}

@keyframes ufo6 {
    0% { offset-distance: 75%;}
    100% { offset-distance: 175%;}
}


