body {
    color: #fff;
    font-family: $font-Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    background-color: $color-bg;
}

nav, ul, li {
    margin: 0;
    padding: 0; 
    list-style: none; 
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

button {
    font-family: 'Inter';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: $font-Inter;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 96px;
}

h3 {
    font-size: 86px;
}

h4 {
    font-size: 64px;
}

h5 {
    font-size: 48px;
}

h6 {
    font-size: 36px;
}

.container {
    max-width: 1686px;
    padding: 0 10px;
    margin: 0 auto;
}

.swiper__buttons {
    width: 100%;
    position: absolute;
    bottom: -153px;
    right: 0;
    display: flex;
    gap: 25px;
    justify-content: end;
    padding-right: 40px;
}

.swiper__button  {
    cursor: pointer;
    padding: 14px 10px;
    border: 1px solid $color-violet;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 0.3s ease;
    

    &-next {
        right: 84px;
    }

    &-prev {
        right: 14px;
    }

    &:hover {
        background-color: $color-violet;
    }
}

.swiper-pagination {
    position: absolute;
    text-align: start;
    bottom: -126px !important;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    z-index: 1;
}

.swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 100px;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: $color-violet;
    width: 120px;
    height: 12px;
    border-radius: 100px;
}


@media screen and (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
}