.header {
    background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $height-header;
    }

    &__navigation {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 33px;
    }

    &__list {
        align-items: center;
        display: flex;
        height: 100%;
        gap: 35px;
        width: 469px;
    }

    &__item {
        max-width: 200px;
        line-height: 16px;
        display: flex;
        align-items: center;
        gap: 8.5px;

        &-hum {
            max-width: 15px;
            max-height: 15px;
        }

        &-circle {
            max-width: 20px;
            max-height: 20px;
        }
        
        &-link {
            color: #000;
            font-size: 16px;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__btn {
        padding: 0 20px;
        height: 100%;
        background-color: $color-violet;
        border-radius: 0;
        display: flex;
        font-size: 16px;
        line-height: 16px;
        align-items: center;
        gap: 61px;
        border: 1px rgba(0, 0, 0, 0) solid;

        &--mob {
            display: none;
        }

        &:hover {
            background-color: #fff;
            border: 1px rgba(0, 0, 0, 1) solid;
            color: #000;
        }
    }

}

.hamburger {
    display: none;
}

.hamburger, 
.hamburger:focus, 
.hamburger:active {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    background-color: inherit;
}


@media screen and (max-width: 1024px) {
    .header {
        &__inner {
            position: relative;
        }

        &__logo {
            display: none;
        }

        &__navigation {
            z-index: 100;
            flex-direction: column;
            position: fixed; 
            width: 100%;
            height: 100vh;
            top: $height-header;
            left: 0;
            overflow: hidden;
            display: none;
            justify-content: center;

            &::before {
                content: '';
                position: absolute;
                top: 0; 
                left: -20px; 
                right: -20px;
                bottom: -20px; 
                background: rgba(26, 26, 26, 0.7);
                backdrop-filter: blur(5px);
                background-size: cover;
                background-position: center;
                z-index: -1;
            }

            &--active {
                display: flex;
            }
        }


        &__item {
            width: 80%;
            border-radius: 8px;
            border: 1px solid #fff;

            &-link {
                color: #fff;
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px;
            }

            &-hum {
                display: none;
            }
    
            &-circle {
                display: none;
            }
        }

        &__list {
            border-radius: 8px;
            flex-direction: column;
            background-color: $color-bg;
            padding: 20px 50px;
            height: auto;
        }

        &__btn {
            display: none;

            &--mob {
                display: flex;
            }
        }
    }

    .hamburger {
        display: flex;
    }

}

.body--fixed {
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .header {
        
        &__inner {
            height: $height-header-mobile;
        }

        &__navigation {
            top: $height-header-mobile;

            &::before {
                top: 0; 
            }
        }

        &__btn {
            padding: 0 11px;
            gap: 10px;

            &>img {
                max-width: 13.714px;
                max-height: 13.714px;
            }
        }
    }


}



