.circle {
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.79, -0.55, 0.21, 1.42);
}

.circle-1 {
    transform: translate(-10%,-40%);
    animation-name: circle-anim-1;
}

.circle-3 {
    transform: translate(-3%, 46%);
    animation-name: circle-anim-3;
}

.circle-2 {
    transform: translate(24%, -33%);
    animation-name: circle-anim-2;
}

@keyframes circle-anim-1 {
    0% { transform: translate(-10%,-40%);}
    20% { transform: translate(0,0);}
    30% { transform: translate(0,0);}
    50% { transform: translate(18%, 10%) scale(1.4);}
    60% { transform: translate(18%, 10%) scale(1.4);}
    80% { transform: translate(19%, 27%) scale(2.1);}
    100% { transform: translate(19%, 27%) scale(2.1);}
}

@keyframes circle-anim-3 {
    0% { transform: translate(-3%, 46%);}
    20% { transform: translate(0,0);}
    30% { transform: translate(0,0);}
    50% { transform: translate(-18%, -52%) scale(1.6);}
    60% { transform: translate(-18%, -52%) scale(1.6);}
    80% { transform: translate(-32%, -126%) scale(2.2);}
    100% { transform: translate(-32%, -126%) scale(2.2);}
}

@keyframes circle-anim-2 {
    0% { transform: translate(24%, -33%);}
    20% { transform: translate(0,0);}
    30% { transform: translate(0,0);}
    50% { transform: translate(-97%, -82%) scale(1.9);}
    60% { transform: translate(-97%, -82%) scale(1.9);}
    80% { transform: translate(-120%, -130%) scale(2.2);}
    100% { transform: translate(-120%, -130%) scale(2.2);}
}
