.paralax {
    --title-height: 0px;
    margin-bottom: $margin-big-section-desktop;


    &__bg {
        position: relative;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }

    &__video {
        width: 100%;
        max-height: 940px;
        border-radius: 10px;

    }

    &__title {
        position: absolute;
        top: 0;
        left: auto;
        text-align: center;
        font-weight: 800;
        text-transform: uppercase;
        max-width: 1400px;
        transition: top 3s ease;
    }

    .move-to-bottom {
        top: calc(100% - var(--title-height));
    }

    &__box {
        display: flex;
        gap: 66px;
        justify-content: space-between;
    }
    
    &__item-first {
        background-image: url(../img/paralax-1.webp);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        min-height: 285px;
    }

    &__item-second {
        background-image: url(../img/paralax-2.webp);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 285px;
    }

    &__item-title {
        max-width: 375px;
        margin-left: 40px;
        font-family: 'Impact';
        font-weight: 400;
        letter-spacing: 2.4px;
    }

    &__item-svg {
        max-width: 212.793px;
        max-height: 97.897px;
        margin-left: 23px;
        margin-right: 10px;
    }

    &__item-text {
        font-size: 21.103px;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        max-width: 488px;
    }

}

@media screen and (max-width: 1500px) {

    .paralax {

        &__title {
            max-width: 900px;
            font-size: 30px;
            margin: 0 10px;
        }

        &__box {
            gap: 20px;
        }
    }
}

@media screen and (max-width: 1024px) {

    .paralax {
        margin-bottom: $margin-big-section-mobile;

        &__box {
            gap: 0;
            flex-direction: column;
        }

        &__item-first {
            border-radius: 0;
        }

        &__item-second {
            border-radius: 0;
        }
    }
}


@media screen and (max-width: 500px) {

    .paralax {
        margin-bottom: $margin-big-section-mobile;

        &>.container {
            padding: 0;
        }

        &__video {
            width: 100%;
            max-height: 300px;
            border-radius: 0;
        }

        &__bg {
            text-align: center;
        }

        &__title {
            font-size: 16px;
            max-width: 320px;
        }

        &__box {
            gap: 0;
            flex-direction: column;
        }

        &__item-first {
            min-height: 127px;
            border-radius: 0;
        }

        &__item-second {
            min-height: 127px;
            border-radius: 0;
        }

        &__item-title {
            font-size: 20px;
            letter-spacing: 1px;
        }

        &__item-svg {
            max-width: 90px;
            max-height: 40px;
        }

        &__item-text {
            font-size: 10px;
        }
    }
}