.testimonials {
    margin-bottom: $margin-big-section-desktop;

    &>.container {
        position: relative;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__box {
        max-width: 463px;
        width: 100%;
        border-radius: 10px;
        border: 2px solid $color-violet;
        padding: 25px;
    }

    &__wrapper {
        &>.swiper-slide-next {
            &>.testimonials__box {
                &>.testimonials__slide-text {
                    max-height: 1000px;
                    mask-image: none;
                }
            }
        }
    }

    &__slide {
        height: 100%;
        margin: auto;

        &-top {
            display: flex;
            margin-bottom: 15px;
        }

        &-img {
            max-width: 65px;
            max-height: 65px;
            margin-right: 13px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            font-size: 24px;
            line-height: 38px;

            &>span {
                font-size: 16px;
                line-height: 16px;
            }
        }

        &-mark {
            margin-left: auto;
            align-self: center;
            font-size: 16px;
            line-height: 16px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: -3px;
                left: -27px;
                width: 20px;
                height: 20px;
                background-image: url(../img/testimonials-star.svg);
                background-size: cover;
                
            }
        }

        &-text {
            font-size: 24px;
            font-style: normal;
            font-weight: 200;
            line-height: 30px;
            transition: max-height 1s ease;
            max-height: 9.5em;
            position: relative;
            overflow: hidden;
            mask-image: linear-gradient(180deg, black 0%, transparent);

        }
    }

    &__buttons {
        bottom: -70px;
    }

    &__pagination {
        width: auto !important;
        position: absolute;
        left: 26px !important;
        bottom: -50px !important;
    }
}

@media screen and (max-width: 1024px) { 
    .testimonials {
        margin-bottom: calc($margin-big-section-mobile + 75px);

        &__wrapper {
            flex-direction: row !important;

            &>.swiper-slide-next {
                &>.testimonials__box {
                    &>.testimonials__slide-text {
                        max-height: 9.5em;
                        mask-image: linear-gradient(180deg, black 0%, transparent);
                    }
                }
            }
        }

        &__box {
            cursor: pointer;
            margin: 0 auto;
        }

        &__slide {
            height: auto;
            margin: 0;
            margin-bottom: 21px;

            &-text {
                &-active {
                    max-height: 1000px !important;
                    mask-image: none !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) { 
    .testimonials {

        &__title {
            text-align: center;
            font-size: 24px;
        }

        &>.container {
            &>.swiper__pagination {
                bottom: -19px !important;
                left: 20px !important;
                display: flex;
                align-items: center;

                &>.swiper-pagination-bullet {
                    width: 25px;
                    height: 2px;

                    &-active {
                        width: 50px;
                        height: 5px;
                    }
                }
            }
        }

        &__slide {

            &-img {
                max-width: 44px;
                max-height: 44px;
            }

            &-info {
                font-size: 16px;
                line-height: 24px;

                &-from {
                    font-size: 11px;
                    line-height: 16px;
                }
            }

            &-mark {
                font-size: 11px;

                &::after {
                    max-width: 13px;
                    max-height: 13px;
                    top: 1px;
                    left: -20px;
                }
            }

            &-text {
                font-size: 16px;
                line-height: 24px;
            }

        }

        &__buttons {
            width: 100%;
            position: absolute;
            bottom: -37px;
            right: 0;
            display: flex;
            gap: 11px;
            justify-content: end;
            padding-right: 40px;
        }

        &__button-next {
            padding: 13px 11.5px;
            max-width: 14px;
            max-height: 18px;
            box-sizing: content-box !important;
        }

        &__button-prev {
            padding: 13px 11.5px;
            max-width: 14px;
            max-height: 18px;
            box-sizing: content-box !important;
        }
    }
}