///fonts///
$font-BebasNeue: 'ProximaNova';
$font-Impact: 'impact';
$font-Inter: 'Inter';
$font-Montserrat: 'Montserrat';
$font-Roboto: 'Roboto';


///colors///
$color-bg:     #1A1A1A;
$color-black:  #0A0A0A;
$color-yellow: #FECE63;
$color-violet: #9576FD;
$color-orange: #F08377;
$color-grey:   #666666;



////////
$height-header: 70px;
$height-header-mobile: 40px;