.youtube {
    margin-bottom: $margin-min-section-desktop;

    &__title {
        font-family: 'Impact';
        margin-bottom: 70px;
        text-align: center;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        margin-bottom: 70px;
        justify-content: center;
    }

    &__video {
        max-width: 798px;
        max-height: 665px;
        width: 100%;
        filter: blur(2px);
        transition: filter 0.3s; 
    }

    &__btn {
        padding: 38px 178px;
        font-size: 20px;
        background-color: $color-yellow;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1710px) {
    .youtube {
        &__video {
            max-width: 449px;;
        }

        &__box {
            max-width: 1100px;
            margin: 0 auto 50px;
        }
    }
}


@media screen and (max-width: 1024px) {
    .youtube {
        margin-bottom: $margin-min-section-mobile;

        &__title {
            font-size: 63px;
        }

        &__box {
            gap: 40px;
            margin-bottom: 50px;
        }


        &__btn {
            padding: 22px 133px;
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 500px) {
    .youtube {

        &__title {
            font-size: 24px;
            margin-bottom: 65px;
        }

        &__box {
            gap: 32px;
            margin-bottom: 50px;
        }

        &__video {
            max-width: 320px;;
        }

        &__btn {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4.342px;
        }
    }
}