.сommunity {
    margin-bottom: calc($margin-big-section-desktop + 50px);

    &>.container {
        position: relative;
    }

    &__box {
        position: absolute;
        top: -223px;
        left: 0;
        width: 100%;
        height: 932px;
        display: flex;
        align-items: center;
        padding-left: 40px;
        justify-content: left;
        overflow: hidden;
    }

    &__bg {
        max-width: 909px;
        max-height: 820px;
        animation: rotateBackground 50s ease-in-out infinite;
    }

    &__title {
        position: relative;
        z-index: 1;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 44px;
    }

    &__text {
        position: relative;
        z-index: 1;
        font-size: 24px;
        line-height: 38px;
        
        & + .сommunity__text {
            margin-top: 44px;
        }
    }
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(120deg);
    }
    35% {
        transform: rotate(120deg);
    }
    65% {
        transform: rotate(240deg);
    }
    70% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .сommunity {
        margin-bottom: 250px;

        &__box {
            top: -69px;
            height: 720px;
            padding-left: 0;
            justify-content: center;
        }
        &__bg {
            max-width: 700px;
        }
    }
}

@media screen and (max-width: 500px) {
    .сommunity {
        margin-bottom: 250px;

        &>.container {
            background: radial-gradient(49.25% 546.78% at 50% 50%, #43276E 0%, #1A1A1A 100%);
        }

        &__title {
            padding-top: 10px;
            font-size: 24px;
            text-align: center;
        }

        &__text {
            font-size: 16px;
        }

        &__box {
            top: 0;
            height: 100%;
            padding-left: 0;
            justify-content: center;
        }
        &__bg {
            max-width: 289px;
        }
    }
}
