<section class="acordeon">
    <div class="container">
        <div class="acordeon__inner">
            <div class="acordeon__item acordeon__item-active">
                <h6 class="acordeon__item-title acordeon__item-title-active">Reuniones temáticas <img src="assets/img/acordeon-arrow.svg" alt=""></h6>
                <p class="acordeon__item-text acordeon__item-text-active">Reuniones temáticas de especialistas en marketing son eventos organizados por nuestra asociación para intercambiar experiencias, conocimientos e ideas entre profesionales del marketing. En estas reuniones, los participantes debaten las últimas tendencias en marketing, comparten las mejores prácticas, aprenden nuevos métodos y herramientas para promocionar productos o servicios. También es una excelente oportunidad para establecer contactos profesionales y establecer conexiones comerciales.</p>
            </div>
            <div class="acordeon__item">
                <h6 class="acordeon__item-title">Eventos online <img src="assets/img/acordeon-arrow.svg" alt=""></h6>
                <p class="acordeon__item-text">Reuniones temáticas de especialistas en marketing son eventos organizados por nuestra asociación para intercambiar experiencias, conocimientos e ideas entre profesionales del marketing. En estas reuniones, los participantes debaten las últimas tendencias en marketing, comparten las mejores prácticas, aprenden nuevos métodos y herramientas para promocionar productos o servicios. También es una excelente oportunidad para establecer contactos profesionales y establecer conexiones comerciales.</p>
            </div>
            <div class="acordeon__item">
                <h6 class="acordeon__item-title">Business lunches <img src="assets/img/acordeon-arrow.svg" alt=""></h6>
                <p class="acordeon__item-text">Reuniones temáticas de especialistas en marketing son eventos organizados por nuestra asociación para intercambiar experiencias, conocimientos e ideas entre profesionales del marketing. En estas reuniones, los participantes debaten las últimas tendencias en marketing, comparten las mejores prácticas, aprenden nuevos métodos y herramientas para promocionar productos o servicios. También es una excelente oportunidad para establecer contactos profesionales y establecer conexiones comerciales.</p>
            </div>
            <div class="acordeon__item">
                <h6 class="acordeon__item-title">Forums de marketing <img src="assets/img/acordeon-arrow.svg" alt=""></h6>
                <p class="acordeon__item-text">Reuniones temáticas de especialistas en marketing son eventos organizados por nuestra asociación para intercambiar experiencias, conocimientos e ideas entre profesionales del marketing. En estas reuniones, los participantes debaten las últimas tendencias en marketing, comparten las mejores prácticas, aprenden nuevos métodos y herramientas para promocionar productos o servicios. También es una excelente oportunidad para establecer contactos profesionales y establecer conexiones comerciales.</p>
            </div>
            <div class="acordeon__item">
                <h6 class="acordeon__item-title">Premios anuales de contenido audiovisual 2023 <img src="assets/img/acordeon-arrow.svg" alt=""></h6>
                <p class="acordeon__item-text">Reuniones temáticas de especialistas en marketing son eventos organizados por nuestra asociación para intercambiar experiencias, conocimientos e ideas entre profesionales del marketing. En estas reuniones, los participantes debaten las últimas tendencias en marketing, comparten las mejores prácticas, aprenden nuevos métodos y herramientas para promocionar productos o servicios. También es una excelente oportunidad para establecer contactos profesionales y establecer conexiones comerciales.</p>
            </div>
            <div class="acordeon__item">
                <h6 class="acordeon__item-title">Reuniones de mesa redonda <img src="assets/img/acordeon-arrow.svg" alt=""></h6>
                <p class="acordeon__item-text">Reuniones temáticas de especialistas en marketing son eventos organizados por nuestra asociación para intercambiar experiencias, conocimientos e ideas entre profesionales del marketing. En estas reuniones, los participantes debaten las últimas tendencias en marketing, comparten las mejores prácticas, aprenden nuevos métodos y herramientas para promocionar productos o servicios. También es una excelente oportunidad para establecer contactos profesionales y establecer conexiones comerciales.</p>
            </div>
        </div>
    </div>
</section>