<section class="awards">
    <div class="container">
        <div class="awards__inner">
            <h6 class="awards__title">Premios anuales de contenido audiovisual</h6>
            <p class="awards__text">Premios anuales de contenido audiovisual - es un concurso que se organiza anualmente para reconocer y premiar la excelencia en las artes visuales, el diseño y los contenidos creativos. La competencia atrae a participantes de todo el mundo, incluidos profesionales y aficionados, alentandolos a expresarse de manera creativa y mostrar sus talentos únicos.</p>
            <button class="btn awards__btn">Participar en el concurso</button>
        </div>
    </div>
</section>