<section class="blog-marketing">
    <div class="container">
        <div class="blog-marketing__grid">
            <div class="blog-marketing__item">
                <img src="assets/img/blog-marketing-img.webp" alt="" class="blog-marketing__item-img">
                <p class="blog-marketing__item-description">El Poder de la Mercadotecnia: Estrategias para el Éxito Empresarial</p>
                <p class="blog-marketing__item-text">Introducción:<br/>La mercadotecnia, o marketing en inglés, es una disciplina fundamental en el mundo empresarial que busca entender las necesidades y deseos de los consumidores para crear, comunicar y entregar valor a través de productos y servicio</p>
                <div class="blog-marketing__item-box">
                    <p>Lectura de 3 minutos</p>
                    <button>Leer →</button>
                </div>
            </div>
            <div class="blog-marketing__item">
                <img src="assets/img/blog-marketing-img.webp" alt="" class="blog-marketing__item-img">
                <p class="blog-marketing__item-description">El Poder de la Mercadotecnia: Estrategias para el Éxito Empresarial</p>
                <p class="blog-marketing__item-text">Introducción:<br/>La mercadotecnia, o marketing en inglés, es una disciplina fundamental en el mundo empresarial que busca entender las necesidades y deseos de los consumidores para crear, comunicar y entregar valor a través de productos y servicio</p>
                <div class="blog-marketing__item-box">
                    <p>Lectura de 3 minutos</p>
                    <button>Leer →</button>
                </div>
            </div>
            <div class="blog-marketing__item">
                <img src="assets/img/blog-marketing-img.webp" alt="" class="blog-marketing__item-img">
                <p class="blog-marketing__item-description">El Poder de la Mercadotecnia: Estrategias para el Éxito Empresarial</p>
                <p class="blog-marketing__item-text">Introducción:<br/>La mercadotecnia, o marketing en inglés, es una disciplina fundamental en el mundo empresarial que busca entender las necesidades y deseos de los consumidores para crear, comunicar y entregar valor a través de productos y servicio</p>
                <div class="blog-marketing__item-box">
                    <p>Lectura de 3 minutos</p>
                    <button>Leer →</button>
                </div>
            </div>
            <div class="blog-marketing__item">
                <img src="assets/img/blog-marketing-img.webp" alt="" class="blog-marketing__item-img">
                <p class="blog-marketing__item-description">El Poder de la Mercadotecnia: Estrategias para el Éxito Empresarial</p>
                <p class="blog-marketing__item-text">Introducción:<br/>La mercadotecnia, o marketing en inglés, es una disciplina fundamental en el mundo empresarial que busca entender las necesidades y deseos de los consumidores para crear, comunicar y entregar valor a través de productos y servicio</p>
                <div class="blog-marketing__item-box">
                    <p>Lectura de 3 minutos</p>
                    <button>Leer →</button>
                </div>
            </div>
        </div>
        <button class="blog-marketing__btn">Leer más <span class="blog-marketing__btn-span">artículos</span> ↓</button>
    </div>
</section>