<section class="first-screen-bg">
    <svg class="svg" viewBox="0 0 1920 1565" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect fill="#D9D9D9"/>
        <g clip-path="url(#clip0_1839_1741)">
        <g class="ufo ufo1"  filter="url(#filter0_f_1839_1741)">
        <path d="M1033 929.71C1395.85 929.71 1690 645.252 1690 294.355C1690 -56.5419 1395.85 -341 1033 -341C670.149 -341 376 -56.5419 376 294.355C376 645.252 670.149 929.71 1033 929.71Z" fill="#FF4935"/>
        </g>
        <g class="ufo ufo2"  filter="url(#filter1_f_1839_1741)">
        <path d="M376 1140.71C738.851 1140.71 1033 856.252 1033 505.355C1033 154.458 738.851 -130 376 -130C13.1489 -130 -281 154.458 -281 505.355C-281 856.252 13.1489 1140.71 376 1140.71Z" fill="#ED1E61"/>
        </g>
        <g class="ufo ufo3"  filter="url(#filter2_f_1839_1741)">
        <path d="M514 1776.71C876.851 1776.71 1171 1492.25 1171 1141.35C1171 790.458 876.851 506 514 506C151.149 506 -143 790.458 -143 1141.35C-143 1492.25 151.149 1776.71 514 1776.71Z" fill="#FFB001"/>
        </g>
        <g class="ufo ufo4"  filter="url(#filter3_f_1839_1741)">
        <path d="M1134 1968.71C1496.85 1968.71 1791 1684.25 1791 1333.35C1791 982.458 1496.85 698 1134 698C771.149 698 477 982.458 477 1333.35C477 1684.25 771.149 1968.71 1134 1968.71Z" fill="#F833D2"/>
        </g>
        <g class="ufo ufo5"  filter="url(#filter4_f_1839_1741)">
        <path d="M1571 1653.71C1933.85 1653.71 2228 1369.25 2228 1018.35C2228 667.458 1933.85 383 1571 383C1208.15 383 914 667.458 914 1018.35C914 1369.25 1208.15 1653.71 1571 1653.71Z" fill="#734AFE"/>
        </g>
        <g class="ufo ufo6"  filter="url(#filter5_f_1839_1741)">
        <path d="M1362 929.71C1724.85 929.71 2019 645.252 2019 294.355C2019 -56.5419 1724.85 -341 1362 -341C999.149 -341 705 -56.5419 705 294.355C705 645.252 999.149 929.71 1362 929.71Z" fill="#FFB001"/>
        </g>
        </g>
        <defs>
        <filter id="filter0_f_1839_1741" x="-59" y="-776" width="2184" height="2140.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217.5" result="effect1_foregroundBlur_1839_1741"/>
        </filter>
        <filter id="filter1_f_1839_1741" x="-716" y="-565" width="2184" height="2140.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217.5" result="effect1_foregroundBlur_1839_1741"/>
        </filter>
        <filter id="filter2_f_1839_1741" x="-578" y="71" width="2184" height="2140.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217.5" result="effect1_foregroundBlur_1839_1741"/>
        </filter>
        <filter id="filter3_f_1839_1741" x="42" y="263" width="2184" height="2140.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217.5" result="effect1_foregroundBlur_1839_1741"/>
        </filter>
        <filter id="filter4_f_1839_1741" x="479" y="-52" width="2184" height="2140.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217.5" result="effect1_foregroundBlur_1839_1741"/>
        </filter>
        <filter id="filter5_f_1839_1741" x="270" y="-776" width="2184" height="2140.71" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217.5" result="effect1_foregroundBlur_1839_1741"/>
        </filter>
        <clipPath id="clip0_1839_1741">
        <rect width="1920" height="1565" fill="white"/>
        </clipPath>
        </defs>
    </svg>        
</section>