<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <a class="footer__logo" href="">
                <img class="footer__logo-img" src="assets/img/logo.svg" alt="Logo Marketing Club Madrid">
            </a>
            <div class="footer__links">
                <ul class="footer__list">
                    <li><a class="footer__list-link" href="#">Premios anuales de contenido audiovisual</a></li>
                    <li><a class="footer__list-link" href="#">Sobre nosotros</a></li>
                    <li><a class="footer__list-link" href="#">Calendario de eventos</a></li>
                </ul>
                <div class="footer__social-icons">
                    <a href="#"><img src="assets/img/whatsapp-icon.svg" alt="WhatsApp"></a>
                    <a href="#"><img src="assets/img/telegram-icon.svg" alt="Telegram"></a>
                    <a href="#"><img src="assets/img/twitter-icon.svg" alt="Twitter"></a>
                    <a href="#"><img src="assets/img/instagram-icon.svg" alt="Instagram"></a>
                    <a href="#"><img src="assets/img/linkedin-icon.svg" alt="LinkedIn"></a>
                </div>
            </div>
            <div class="footer__contact">
                <p>Si desea cooperar, contáctenos</p>
                <button class="footer__btn">CONTÁCTANOS</button>
            </div>
        </div>
        <div class="footer__bottom">
            <p>© 2023 Club de Marketing de Madrid, Todos los derechos reservados</p>
            <p>Política de privacidad</p>
        </div>
    </div>
</footer>


<script async src="assets/js/main.min.js"></script>
</body>
</html>