<section class="paralax">
    <div class="container">
        <div class="paralax__bg">
            <video class="paralax__video" autoplay muted loop src="assets/video/video.mp4"></video>
            <h4 class="paralax__title">Las mejores soluciones comerciales con la ayuda del contenido audiovisual</h4>
        </div>

        <div class="paralax__box">
            <div class="paralax__item-first wow animate__animated animate__backInLeft" data-wow-offset="200" data-wow-duration="3s">
                <h5 class="paralax__item-title">Premios anuales de contenido audiovisual 2023</h5>
            </div>
            <div class="paralax__item-second wow animate__animated animate__backInRight" data-wow-offset="200" data-wow-duration="3s">
                <img class="paralax__item-svg" src="assets/img/paralax-svg.svg" alt="">
                <p class="paralax__item-text">Creamos una sinergia de genios del marketing para un impacto poderoso</p>
            </div>
        </div>
    </div>
</section>