<section class="participants">
    <div class="container">
        <h6 class="participants__title">Nuestros participantes</h6>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
              <div class="swiper-slide participants__slide">
                <img class="participants__img" src="assets/img/participants-img.webp" alt="">
                <p class="participants__name">Carlos García</p>
                <p class="participants__profession">CEO <img src="assets/img/arrow-ceo.svg" alt=""></p>
                <a class="participants__description" href="#">
                    <p class="participants__description-text">Bajo su guía, el equipo de marketing florece, creando campañas impactantes que... </p>
                    <img class="participants__description-img" src="assets/img/participants__arrow.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="participants__buttons">
            <img class="participants__button participants__button-next" src="assets/img/arrow-left.svg" alt="">
            <img class="participants__button participants__button-prev" src="assets/img/arrow-right.svg" alt="">
          </div>
          <div class="swiper-pagination"></div>
    </div>
</section>