<section class="testimonials">
    <div class="container">
        <h6 class="testimonials__title">Lo que dicen de nosotros</h6>
        <div class="swiper testimonialsSwiper">
            <div class="swiper-wrapper testimonials__wrapper">
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
                <div class="swiper-slide testimonials__slide">
                    <div class="testimonials__box">
                        <div class="testimonials__slide-top">
                            <img class="testimonials__slide-img" src="assets/img/testimonials-img.webp" alt="">
                            <p class="testimonials__slide-info">Laura Martínez <span class="testimonials__slide-info-from">Madrid, España</span></p>
                            <p class="testimonials__slide-mark">5.0</p>
                        </div>
                        <p class="testimonials__slide-text">La asociación de marketing ha sido fundamental para mi desarrollo profesional. Los encuentros presenciales y virtuales me han permitido ampliar mi red de contactos y establecer relaciones comerciales valiosas. Además, las conferencias y talleres han sido extremadamente informativos y me han dado ideas frescas para aplicar en mi trabajo diario. Estoy emocionada de seguir participando en esta asociación y seguir aprendiendo de mis compañeros en el campo del marketing</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="testimonials__buttons swiper__buttons">
            <img class="swiper__button swiper__button-next testimonials__button-next" src="assets/img/arrow-left.svg" alt="">
            <img class="swiper__button swiper__button-prev testimonials__button-prev" src="assets/img/arrow-right.svg" alt="">
          </div>
          <div class="swiper__pagination testimonials__pagination"></div>
    </div>
</section>