<section class="youtube">
    <div class="container">
        <h2 class="youtube__title">Estamos en YouTube</h2>
        <div class="youtube__box">
            <video class="youtube__video" id="myVideo" muted loop src="assets/video/video.mp4"></video>
            <video class="youtube__video" id="myVideo" muted loop src="assets/video/video.mp4"></video>
            <video class="youtube__video" id="myVideo" muted loop src="assets/video/video.mp4"></video>
            <video class="youtube__video" id="myVideo" muted loop src="assets/video/video.mp4"></video>
        </div>
        <button class="youtube__btn">más en YouTube</button>
    </div>
</section>