<section class="youtube">
    <div class="container">
        <h2 class="youtube__title wow animate__animated animate__fadeInLeft">Estamos en YouTube</h2>
        <div class="youtube__box">
            <video class="youtube__video" poster="assets/img/first-screen-video.webp" preload="metadata" muted loop src="assets/video/video.mp4"></video>
            <video class="youtube__video" poster="assets/img/first-screen-video.webp" preload="metadata" muted loop src="assets/video/video.mp4"></video>
            <video class="youtube__video" poster="assets/img/first-screen-video.webp" preload="metadata" muted loop src="assets/video/video.mp4"></video>
            <video class="youtube__video" poster="assets/img/first-screen-video.webp" preload="metadata" muted loop src="assets/video/video.mp4"></video>
        </div>
        <button class="youtube__btn">más en YouTube</button>
    </div>
</section>