<section class="youtube">
  <div class="container">
    <h2 class="youtube__title wow animate__animated animate__fadeInLeft">
      Estamos en YouTube
    </h2>
    <div class="youtube__box">
      <div class="youtube__video">
        <a class="youtube__video-link" href="https://www.youtube.com/watch?v=chOWAjhB5Q0">
          <picture>
            <source
              type="image/webp"
              srcset="
                https://i.ytimg.com/vi_webp/chOWAjhB5Q0/maxresdefault.webp
              "
            />
            <img
              class="youtube__video-media"
              src="https://i.ytimg.com/vi/chOWAjhB5Q0/maxresdefault.jpg"
              alt="video"
            />
          </picture>
        </a>
        <button class="youtube__video-btn"></button>
      </div>
      <div class="youtube__video">
        <a class="youtube__video-link" href="https://www.youtube.com/watch?v=chOWAjhB5Q0">
          <picture>
            <source
              type="image/webp"
              srcset="
                https://i.ytimg.com/vi_webp/chOWAjhB5Q0/maxresdefault.webp
              "
            />
            <img
              class="youtube__video-media"
              src="https://i.ytimg.com/vi/chOWAjhB5Q0/maxresdefault.jpg"
              alt="video"
            />
          </picture>
        </a>
        <button class="youtube__video-btn"></button>
      </div>
      <div class="youtube__video">
        <a class="youtube__video-link" href="https://www.youtube.com/watch?v=chOWAjhB5Q0">
          <picture>
            <source
              type="image/webp"
              srcset="
                https://i.ytimg.com/vi_webp/chOWAjhB5Q0/maxresdefault.webp
              "
            />
            <img
              class="youtube__video-media"
              src="https://i.ytimg.com/vi/chOWAjhB5Q0/maxresdefault.jpg"
              alt="video"
            />
          </picture>
        </a>
        <button class="youtube__video-btn"></button>
      </div>
      <div class="youtube__video">
        <a class="youtube__video-link" href="https://www.youtube.com/watch?v=chOWAjhB5Q0">
          <picture>
            <source
              type="image/webp"
              srcset="
                https://i.ytimg.com/vi_webp/chOWAjhB5Q0/maxresdefault.webp
              "
            />
            <img
              class="youtube__video-media"
              src="https://i.ytimg.com/vi/chOWAjhB5Q0/maxresdefault.jpg"
              alt="video"
            />
          </picture>
        </a>
        <button class="youtube__video-btn"></button>
      </div>
    </div>
    <button class="youtube__btn">más en YouTube</button>
  </div>
</section>
