<section class="сommunity">
    <div class="container">
        <div class="сommunity__box">
            <img class="сommunity__bg" src="assets/img/сommunity-bg.svg" alt="">
        </div>
        <h6 class="сommunity__title wow animate__animated animate__fadeInLeft ">sobre nosotros</h6>
        <p class="сommunity__text">Somos un equipo de entusiastas del marketing que tenían el sueño de unirse con colegas afines para crecer y desarrollarse juntos. ¡Logramos hacer realidad nuestro anhelado sueño! Creamos una comunidad de profesionales donde los especialistas en marketing pueden mostrar sus logros, compartir ideas y recibir apoyo de sus colegas.</p>
        <p class="сommunity__text">Nuestra ideología tiene como objetivo mejorar la calidad del trabajo y aumentar las habilidades profesionales de los especialistas en marketing a través del aprendizaje en equipo y el intercambio de experiencias.</p>
    </div>
</section>